<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.staily.detail.mapper.ReplyMapper">
	<select id="selectReplyList" parameterType="int" 
		resultType="com.itwill.staily.detail.model.dto.Reply">
		select r.r_no, m.m_no, p.p_no, r.r_content, r.r_recommend, r.r_report
		from reply r
		inner join member m
		on m.m_no = r.m_no
		inner join product p
		on p.p_no = r.p_no
		where p.p_no = #{pNo};
	</select>
	
	<insert id="createReply" parameterType="com.itwill.staily.detail.model.dto.Reply">
		insert into reply
		values (reply_no_seq.nextval, #{pNo}, #{mNo}, #{rContent}, #{rRecommend}, #{rReport});
	</insert>
	
	<delete id="deleteReply">
		delete from reply
		where r_no = #{rNo} and p_no = #{pNo} and m_no = #{mNo};
	</delete>
</mapper>