<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.staily.detail.mapper.ReplyMapper">
	<select id="selectReplyList" parameterType="int" 
		resultType="com.itwill.staily.detail.model.dto.Reply">
		select r_no, p_no, m_no, r_content, r_recommend, r_report
		from reply
		where p_no = #{pNo}
	</select>
	
	<select id="selectReplyOne" parameterType="int"
		resultType="com.itwill.staily.detail.model.dto.Reply">
		select r_no, p_no, m_no, r_content, r_recommend, r_report
		from reply
		where r_no = #{rNo}
	</select>
	
	<insert id="createReply" parameterType="com.itwill.staily.detail.model.dto.Reply">
		insert into reply
		values (reply_no_seq.nextval, #{pNo}, #{mNo}, #{rContent}, #{rRecommend}, #{rReport})
	</insert>
	
	<delete id="deleteReply" parameterType="com.itwill.staily.detail.model.dto.Reply">
		delete from reply
		where r_no = #{rNo} and p_no = #{pNo} and m_no = #{mNo}
	</delete>
	
	<update id="increaseRecommend" parameterType="com.itwill.staily.detail.model.dto.Reply">
		update reply set r_recommend = r_recommend + 1 where r_no = #{rNo}
	</update>
	
	<update id="increaseReport" parameterType="int">
		update reply set r_report = r_report + 1 where r_no = #{rNo}
	</update>
</mapper>