@charset "UTF-8";

.board-top {
	color: #e76115;
}

.board-title {
	 display: inline-block;
}

.text-left {
	text-align: right;
}

.font-small {
	font-size: small;
}

.sort {
	float: right;
}

.paging-button {
	background-color: #e76115;
    border-color: #e76115;
}

.reply_write {
	margin-top: 50px; 
	border-bottom: 1px solid #d8d8d8;
}

.dispaly_none {
	display: none;
}

