@charset "UTF-8";

/*
.btn-ghost:hover {
    color: #fff;
}
.btn:focus, .btn:hover {
    color: #e76115;
}
*/
.board-top {
	color: #e76115;
}

.board-title {
	 display: inline-block;
}

.text-left {
	text-align: right;
}

.font-small {
	font-size: small;
}

.sort {
	float: right;
}

.paging-button {
	background-color: #e76115;
    border-color: #e76115;
}

.reply_write {
	margin-top: 50px; 
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 25px;
}

.border-b-1-d8d8d8{
	border-bottom: 1px solid #d8d8d8;
}

.dispaly_none {
	display: none;
}

.title_detail{
	margin-bottom: 15px;
}

.custom-select{
float:left;
	margin-right:5px;
	width: 115px;
   	margin-bottom: 7px;
}

.add_btn_detail{
	
    background-color: #717171;
}

.p-top-21 {
    padding-top: 21px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-top-7 {
	padding-top: 7px;
}

.f-s-25 {
	font-size: 25px !important;
}

.m-top-21 {
	margin-top: 21px;
} 

.m-top-50 {
	margin-top: 50px;
} 
.m-top--40{
	margin-top: -40px;
}
.m-bottom-30{
	margin-bottom: 30px;
}
a > img {
    all:unset;
}
#canselB {
	margin-left: 10px;	
}

.clicked-button {
	background-color: #e76115;
    color: white;
}

.
