<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itwill.staily.stylecoodination.mapper.BoardManageMapper">

<insert id="createBoard" parameterType="Board">
	INSERT INTO board (b_no, m_no, b_title, b_content, b_groupno, b_step, 
                  	   b_view, b_recommend, b_type, b_date, b_choice) 
	VALUES(board_no_seq.NEXTVAL, #{mNo}, #{bTitle}, #{bContent}, 
       	   board_no_seq.CURRVAL, 1, 0, null, 'S', SYSDATE, 'N')
</insert>

<delete id="deleteBoard" parameterType="int">
	DELETE FROM board 
	WHERE b_groupno = #{bGroupNo}
</delete>

</mapper>