<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itwill.staily.stylecoodination.mapper.ViewMapper">

<select id="selectBoardTop10" resultType="Board">
	SELECT *
	FROM (SELECT B.b_title, B.b_no, B.b_view, M.m_id
	      FROM board B
	      JOIN member M
	      ON B.m_no = M.m_no
	      WHERE B.b_type = 'S'
	      ORDER BY B.b_view DESC, B.b_no DESC)
	WHERE ROWNUM &lt;= 10
	<!-- 10보다 작거나 같다 -->
</select>

<select id="selectBoardAll" resultType="Board">
	SELECT B.b_title, B.b_date, B.b_view, B.b_groupno, M.m_id
	FROM board B
	JOIN member M
	ON B.m_no = M.m_no
	WHERE B.b_type = 'S'
	AND B.b_step = 1
	ORDER BY B.b_no DESC
</select>
<!--  
<select id="selectBoardDetail" parameterType="HashMap" resultType="Board">
	SELECT b.b_no, b.m_no, b.b_title, b.b_content,
       b.b_view, b.b_recommend, bd.bd_image
	FROM board b
	LEFT JOIN board_detail bd 
	ON (b.b_no = bd.b_no)
	WHERE b_groupno = #{bGroupNo}
	ORDER BY b_groupno ASC, b_step ASC
</select>
-->
<select id="selectBoardCount" resultType="int">
	SELECT count(*)
	FROM board
	WHERE b_step = 1
</select>

<select id="selectBoardReplyCount" resultType="int">
	SELECT count(*)
	FROM board
	WHERE b_step > 1
</select>

<update id="updateView" parameterType="int">
	UPDATE board 
	SET b_view = b_view + 1
	WHERE b_no = #{bNo}
</update>

</mapper>