<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.staily.mypage.mapper.MessageMapper">

<!-- 하나출력 -->
<select id="selectOne"
		parameterType="int"
		resultType="com.itwill.staily.mypage.model.dto.Message">
	select *
	from message
	where ms_no = #{msNo}
</select>

<!-- 리스트 출력 -->
<select id="selectList"
		resultType="com.itwill.staily.mypage.model.dto.Message">
	select *
	from message
	where m_no = #{mNo}
</select>

<!-- 삽입 -->
<insert id="createMessage"
		parameterType="com.itwill.staily.mypage.model.dto.Message">
	insert into message (ms_no, m_no, ms_title, ms_content, ms_date) 
        		 values (sequence,#{mNo},#{msTitle},#{msContent},sysdate)		

</insert>

<!-- 삭제 -->
<delete id="deleteMessage"
		parameterType="int">
	delete from message
	where ms_no = #{msNo}
</delete>

<!-- 수정 -->
<update id="updateMessage"
		parameterType="com.itwill.staily.mypage.model.dto.Message">
	update message
	set ms_title={#msTitle}, ms_content={#msContent}
	where ms_no = #{msNo}
</update>


</mapper>